# These owners will be the default owners and Pull Requests reviewers for everything in the 'e2e' automation repository for 'smein-org' space
*                            @angel5rov
*                            @zazor
*                            @IvStGamdom
